.button {
    margin-top: 4px;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: $main-color;
    border: none;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
    &_main {
        width: 300px;
        height: 50px;
        font-size: 16px;
        margin-top: 62px;
    }
    &_mini {
        width: 135px;
        height: 44px;
        text-align: center;
        font-size: 14px;
    }
}
.feed-form {
    .button {
        width: 100%;
        height: 55px;
        margin-top: 0;
    }
}